{% set logfilelist = [{'maillog': '/var/log/maillog'}] %}

[general]
state_file = /var/awslogs/state/agent-state

{% for dict_item in logfilelist %}
{% for key, value in dict_item.items() %}
[{{ value }}]
datetime_format = %Y-%m-%d %H:%M:%S
file = {{ value }}
buffer_duration = 5000
log_stream_name = {instance_id}
initial_position = start_of_file
log_group_name = /{{ env_type }}/{{ app_name }}/{{ key }}

{% endfor %}
{% endfor %}
