daemon_directory = /usr/libexec/{{ relay_service }}
mail_owner = {{ relay_service }}
command_directory = /usr/sbin
sample_directory = /usr/share/doc/{{ relay_service }}-2.10.1/samples
newaliases_path = /usr/bin/newaliases.{{ relay_service }}
readme_directory = /usr/share/doc/{{ relay_service }}-2.10.1/README_FILES
mailq_path = /usr/bin/mailq.{{ relay_service }}
alias_database = hash:/etc/aliases
sendmail_path = /usr/sbin/sendmail.{{ relay_service }}
queue_directory = /var/spool/{{ relay_service }}
manpage_directory = /usr/share/man
unknown_local_recipient_reject_code = {{ recipient_reject_code }}
setgid_group = postdrop
html_directory = no
data_directory = /var/lib/{{ relay_service }}
alias_maps = hash:/etc/aliases
debug_peer_level = 2
debugger_command =
     PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
     ddd $daemon_directory/$process_name $process_id & sleep 5
{{ app_name }}_tls_note_starttls_offer = yes
{{ app_name }}_tls_security_level = encrypt
{{ app_name }}_sasl_password_maps = hash:/etc/{{ relay_service }}/sasl_passwd
{{ app_name }}_sasl_security_options = noanonymous
relayhost = [email-{{ app_name}}.{{ region }}.amazonaws.com]:{{ relayhost_port }}
{{ app_name }}_sasl_auth_enable = yes
{{ app_name }}_use_tls = yes
{{ app_name }}_tls_CAfile = /etc/ssl/certs/ca-bundle.crt
mydomain = {{ mail_domain }}
myhostname = {{ mail_hostnme }}
mynetworks = {{ mail_network }}
relay_domains = $mydestination
inet_protocols = all
myorigin = $mydomain
mydestination = $mydomain
inet_interfaces = all
local_recipient_maps =
